.head {
  background-color: #575757;
  padding: 40px 0;
}

.divLogo {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.logo {
  width: 20%;
  margin: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.filtros {
  display: flex;
}

.filtroHorario {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

#map {
  height: 700px;
  width: 90%;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.foot {
  background: url(/imagenes/bg.jpg);
  text-align: center;
  padding: 40px;
}

.logoB {
  width: 10%;
  margin: auto;
  padding: 15px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: auto;
}
