header {
  background-color: #BBBBBB;
  padding: 20px 0;
}
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.botonSlider {
  position: relative;
  height: 50px;
  width: 100px;
  background-color: aqua;
}
